header {
      background-color: rgb(95, 95, 204);
      padding: 5px;
      color: white;
      display: flex;
      height: 80px;
      justify-content: center;
      position: relative;
      
}



body {
      margin: 0;
}


.header-text {
      display: inline-block;  
      margin-right: 10px;    
  }


  .icone {
      width: 63px;
      height: 70px;
      object-fit: contain;
      margin-top: -2px;
      margin-left: -10px;
}
  